---
import Navbar from "src/components/Navbar.astro";
---

<main class="bg-slate-100 min-h-screen">
  <header class="max-w-screen-xl mx-auto mb-10">
    <Navbar enableBorder={false} transparent />

    <article class="px-4">
      <h1
        class="text-6xl md:text-7xl lg:text-8xl font-bold tracking-tighter leading-[3rem] md:leading-[3.5rem] lg:leading-[4.5rem] mt-24 mb-8 md:mb-10 lg:mb-12"
      >
        <span>Semua bisa belajar</span>{" "}<span
          class="inline-flex text-purple-800">pemrograman!</span
        >
      </h1>
      <p class="text-lg md:text-xl lg:text-2xl text-gray-800 mb-6 md:mb-8">
        Platform belajar pemrograman yang simpel, interaktif, terstruktur, dan <em
          >gratis!</em
        >
      </p>
      <a
        href="/level-0"
        class="inline-block text-lg md:text-xl lg:text-2xl font-semibold text-white bg-purple-600 px-3 py-2 md:px-4 md:py-3 lg:px-6 lg:py-4 rounded-lg hover:bg-purple-500"
        >Mulai belajar</a
      >
    </article>
  </header>
  <section class="bg-slate-800"></section>
</main>
