---
import Logo from "./Logo.astro";

interface Props {
  class?: string;
}

const { class: customClass = "" } = Astro.props;
---

<footer class="bg-slate-300">
  <div
    class:list={["max-w-screen-lg mx-auto px-4 py-10 flex gap-4", customClass]}
  >
    <section class="flex-1">
      <Logo variant="lg" class="mb-4" />
      <p class="text-sm">© Rahmanda Wibowo 2024. All rights reserved.</p>
    </section>
    <section class="flex-none text-sm"></section>
  </div>
</footer>
