---
import { linkTo } from "../utils/url";
import { LEARNING_TRACKS } from "../config";

interface Props {
  data: (typeof LEARNING_TRACKS)["analisis-data"];
  track: keyof typeof LEARNING_TRACKS;
}

const { data, track } = Astro.props;
---

{
  data.map((item) => (
    <li
      class="grid grid-flow-col items-center my-4 gap-x-4"
      style={{ "grid-template-columns": "4rem repeat(8, minmax(0, 1fr))" }}
    >
      <div class="col-span-1 text-left flex items-center h-full">
        <span>Level {item.level}</span>
      </div>

      {item.courses.map((course) =>
        course.available ? (
          <a
            href={linkTo(course.path) + `?track=${track}`}
            class:list={[
              "col-span-4 relative z-0 p-3 font-semibold bg-white shadow rounded-lg border border-gray-200 h-full text-purple-900 text-md md:text-lg hover:bg-purple-100",
              {
                "border-purple-800 after:content-['dasar'] after:absolute after:right-[-0.5rem] after:top-[-0.5rem] after:text-[10px] after:bg-purple-900 after:text-white after:text-normal after:leading-none after:uppercase after:p-1 after:rounded":
                  course.primary_course,
              },
            ]}
          >
            {course.title}
          </a>
        ) : (
          <span
            class:list={[
              "col-span-4 relative flex gap-2 items-center p-3 font-semibold bg-gray-200 h-full shadow rounded-lg border border-gray-200 text-gray-500 text-md md:text-lg",
              {
                "border-gray-500 after:content-['dasar'] after:absolute after:right-[-0.5rem] after:top-[-0.5rem] after:text-[10px] after:bg-gray-500 after:text-white after:text-normal after:leading-none after:uppercase after:p-1 after:rounded after:z-10":
                  course.primary_course,
              },
            ]}
          >
            <span class="flex-none">
              <svg
                class="w-6 h-6"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 14v3m-3-6V7a3 3 0 1 1 6 0v4m-8 0h10c.6 0 1 .4 1 1v7c0 .6-.4 1-1 1H7a1 1 0 0 1-1-1v-7c0-.6.4-1 1-1Z"
                />
              </svg>
            </span>
            <span class="flex-1">{course.title}</span>
          </span>
        ),
      )}
    </li>
  ))
}
