---
import Logo from "./Logo.astro";
import NavbarLink from "./NavbarLink.astro";
import { linkTo } from "../utils/url";

interface Props {
  enableBorder?: boolean;
  transparent?: boolean;
  sticky?: boolean;
}

const { enableBorder = true, sticky = true, transparent = false } = Astro.props;
---

<nav
  class:list={[
    "w-full flex items-center z-10",
    { "sticky top-0 left-0": sticky },
    { "box-border border-b-2 border-gray-200": enableBorder },
    { "bg-white": !transparent },
  ]}
>
  <section class="flex-none px-4">
    <Logo />
  </section>

  <section class="flex-1">
    <ul class="flex flex-row-reverse items-center">
      <li class="flex">
        <NavbarLink href={linkTo("online-editor")}>Editor Online</NavbarLink>
      </li>
      <li class="flex">
        <NavbarLink href={linkTo("#courses")}>Courses</NavbarLink>
      </li>
    </ul>
  </section>
</nav>
