---
import Logo from "./Logo.astro";
import NavbarLink from "./NavbarLink.astro";

interface Props {
  enableBorder?: boolean;
  transparent?: boolean;
}

const { enableBorder = true, transparent = false } = Astro.props;
---

<nav
  class:list={[
    "sticky top-0 left-0 w-full flex items-center z-10",
    { "box-border border-b-2 border-gray-200": enableBorder },
    { "bg-white": !transparent },
  ]}
>
  <section class="flex-none px-4">
    <Logo />
  </section>

  <section class="flex-1">
    <ul class="flex flex-row-reverse items-center">
      <li class="flex">
        <NavbarLink href="/online-editor">Editor Online</NavbarLink>
      </li>
      <li class="flex">
        <NavbarLink href="/level-0">Courses</NavbarLink>
      </li>
    </ul>
  </section>
</nav>
