---

---

<div
  class="prose prose-pre:border-2 prose-pre:rounded-lg prose-pre:p-2 prose-pre:!bg-gray-50 max-w-screen-xl prose-h1:font-semibold prose-h1:text-3xl md:prose-h1:text-4xl prose-h2:font-semibold prose-h2:text-xl md:prose-h2:text-2xl"
>
  <slot />
</div>
