---
import GlobalStyles from "../components/GlobalStyles.astro";
import Navbar from "../components/Navbar.astro";
import Meta from "../components/Meta.astro";
import { SITE_TITLE } from "../config";

const { frontmatter, enableCourseMode = false } = Astro.props;

function getTitle(title: string) {
  if (title) {
    return `${title} | ${SITE_TITLE}`;
  }
  return SITE_TITLE;
}

const title = getTitle(frontmatter?.title);
---

<html lang="id">
  <head>
    <Meta title={title} description="" />
    <GlobalStyles />
    <slot name="head" />
  </head>
  <body class="bg-slate-50 relative">
    <Navbar enableCourseMode={enableCourseMode}>
      <slot name="navbar" />
    </Navbar>
    <slot />
    <script src="../scripts/link.ts"></script>
  </body>
</html>
