---
import BaseLayout from "./Base.astro";
import Button from "../components/Button.astro";

import type { CollectionEntry } from "astro:content";

interface Props {
  frontmatter?: CollectionEntry<"courses">["data"];
  class?: string;
  enableTestCases?: boolean;
  enableCodeEditor?: boolean;
}

const {
  frontmatter,
  class: customClass = "",
  enableTestCases = false,
  enableCodeEditor = true,
} = Astro.props;
---

<BaseLayout frontmatter={frontmatter}>
  <Fragment slot="head">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/codemirror.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/theme/material-darker.css"
    />
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/codemirror.min.js"
      referrerpolicy="no-referrer"></script>
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/python/python.min.js"
      referrerpolicy="no-referrer"></script>
    <script
      is:inline
      src="https://cdn.jsdelivr.net/pyodide/v0.20.0/full/pyodide.js"></script>
  </Fragment>

  <div class:list={["max-w-screen-2xl relative mx-auto", customClass]}>
    <div class="flex">
      <slot name="aside-editor" />

      <div class="w-full">
        <slot name="before-editor" />

        {
          enableCodeEditor && (
            <aside class="min-h-96 mx-4 px-4 pt-4 pb-5 border-2 rounded-lg bg-white mb-12">
              <section class="w-full mb-4">
                <label
                  for="code"
                  class="flex items-center font-semibold text-sm mb-3"
                >
                  <svg
                    class="w-5 h-5 mr-2 text-gray-400"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M21 13v-2a1 1 0 0 0-1-1h-.8l-.7-1.7.6-.5a1 1 0 0 0 0-1.5L17.7 5a1 1 0 0 0-1.5 0l-.5.6-1.7-.7V4a1 1 0 0 0-1-1h-2a1 1 0 0 0-1 1v.8l-1.7.7-.5-.6a1 1 0 0 0-1.5 0L5 6.3a1 1 0 0 0 0 1.5l.6.5-.7 1.7H4a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h.8l.7 1.7-.6.5a1 1 0 0 0 0 1.5L6.3 19a1 1 0 0 0 1.5 0l.5-.6 1.7.7v.8a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-.8l1.7-.7.5.6a1 1 0 0 0 1.5 0l1.4-1.4a1 1 0 0 0 0-1.5l-.6-.5.7-1.7h.8a1 1 0 0 0 1-1Z"
                    />
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
                    />
                  </svg>
                  Python Editor
                </label>
                <textarea
                  id="code"
                  name="code"
                  class="block w-full min-h-[300px] bg-[#212121] rounded-lg m-0 overflow-auto"
                />
              </section>
              <section class="w-full flex gap-4">
                <div class="flex-1">
                  <div class="grow-wrap">
                    <textarea
                      id="output"
                      name="output"
                      class="block w-full min-h-[150px] font-mono text-sm border-2 border-gray-200 bg-gray-100 rounded-md p-2 text-slate-700"
                      readonly
                    />
                  </div>
                </div>
                <div class="flex-none min-w-48">
                  <Button id="button-run" class="mb-2" fullWidth>
                    Run
                  </Button>
                  {enableTestCases && (
                    <Button
                      id="button-run-test-cases"
                      variant="outline"
                      fullWidth
                    >
                      Run Test Cases
                    </Button>
                  )}
                </div>
              </section>
            </aside>
          )
        }

        <slot name="after-editor" />
      </div>
    </div>
  </div>

  <script src="../scripts/codeeditor.ts"></script>

  <script type="module">
    import mermaid from "https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs";
  </script>
</BaseLayout>
