---
import CodeEditorLayout from "./CodeEditor.astro";
import Breadcrumb from "../components/Breadcrumb.astro";
import Prose from "../components/Prose.astro";

import type { CollectionEntry } from "astro:content";

interface Props {
  frontmatter: CollectionEntry<"courses">["data"];
  slug?: string;
}

const { frontmatter, slug } = Astro.props;
---

<CodeEditorLayout
  frontmatter={frontmatter}
  enableCodeEditor={frontmatter.type === "exercise"}
>
  <slot slot="aside-editor" name="aside" />

  <Fragment slot="before-editor">
    {
      slug && (
        <Breadcrumb
          path={slug}
          class="p-4 mb-4 border-b-2 sticky top-[3.35rem] left-0 z-10 bg-white"
        />
      )
    }
    <main class="px-4 my-8 course-content">
      <article>
        <Prose>
          <slot />
        </Prose>
      </article>
    </main>
  </Fragment>

  <slot slot="after-editor" name="after-editor" />
</CodeEditorLayout>
