---
import CodeEditorLayout from './CodeEditor.astro'
import Breadcrumb from '../components/Breadcrumb.astro'
import Prose from '../components/Prose.astro'

import type { CollectionEntry } from 'astro:content'

interface Props {
	frontmatter: CollectionEntry<'courses'>['data']
	slug?: string
}

const { frontmatter, slug } = Astro.props
---

<CodeEditorLayout frontmatter={frontmatter} enableCodeEditor={frontmatter.type === 'exercise'}>
	<slot slot="aside-editor" name="aside" />

	<Fragment slot="before-editor">
		{ slug && <Breadcrumb path={slug} class="py-4 my-4" /> }
		<main class="my-8">
			<article>
				<Prose>
					<slot />
				</Prose>
			</article>
		</main>
	</Fragment>
</CodeEditorLayout>