---
import { getCollection } from 'astro:content'
import CodeEditorLayout from './CodeEditor.astro'
import Breadcrumb from '../components/Breadcrumb.astro'

import type { CollectionEntry } from 'astro:content'

interface Props {
	frontmatter: CollectionEntry<'exercises'>['data']
	slug?: string
}

const { frontmatter, slug } = Astro.props
---

<CodeEditorLayout frontmatter={frontmatter}>
	<slot slot="aside-editor" name="aside" />

	<Fragment slot="before-editor">
		{ slug && <Breadcrumb path={`exercises/${slug}`} class="py-4 my-4" /> }
		<main class="my-8">
			<article class="prose prose-pre:border-2 prose-pre:rounded-lg prose-pre:p-2 prose-pre:!bg-gray-50 max-w-screen-xl prose-h1:text-purple-800">
				<slot />
			</article>
		</main>
	</Fragment>
</CodeEditorLayout>